.vaccine-map {
    width: inherit!important;
    height: inherit!important;
    border-radius: 30px;
    overflow: hidden;
    top: 25px/500px*100vh;
    right: 25px;
}

.mapcol.col {
    padding-right: 10px;
}
